<main>
    <div class="thanks">
        <h2>{{name}},</h2><h1>thank you for your support with the petition</h1>
    </div>
    <h3>"{{petitionTittle}}"</h3>
    <img class="canvasImg" src="{{signature}}" />
    <a href="/signers/{{petitionName}}">Here you can see all
        {{count}}
        Karens, who also support this petition</a>
</main>